.starting {
}

.message {
  display: flex;
  margin: 1rem auto;
  width: 95%;
  max-width: 65rem;
  color: black;
  gap: 0.5rem;
}

.message h2 {
  color: #38015c;
}

.boxes {
  margin: 1rem auto;
  width: 95%;
  max-width: 65rem;
  border-radius: 6px;
  background-color: #38015c;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.boxes h1 {
  text-align: center;
  color: white;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  color: white;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control span {
  display: block;
  color: white;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input {
  font: inherit;
  background-color: #f1e1fc;
  color: #38015c;
  border-radius: 4px;
  border: 1px solid white;
  width: 100%;
  text-align: left;
  padding: 0.25rem;
}

.entries {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  border-radius: 6px;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 0 1rem;
  color: black;
}

.entries label {
  display: block;
  color: black;
  font-weight: bold;
  margin: 0.5rem;
}

.entries span {
  display: block;
  color: rgb(35, 35, 35);
}

.entries input[type="checkbox"] {
  width: 2rem;
  height: 2rem;
  display: block;
}

.left {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.right {
  display: flex;
  gap: 1rem;
  align-items: center;
  position: relative;
}

.right svg {
  width: 32px;
  height: 32px;
}

.right button {
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  width: 32px;
  height: 32px;
  background-color: transparent;
}

.days {
  display: flex;
  gap: 0.5rem;
}

.days span {
  font-size: x-small;
}

.actions {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions span {
  display: block;
  color: white;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.actions button {
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: #9f5ccc;
  border: 1px solid #9f5ccc;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
}

.actions button:hover {
  background-color: #873abb;
  border-color: #873abb;
}

.actions .toggle {
  margin-top: 1rem;
  background-color: transparent;
  color: #9f5ccc;
  border: none;
  padding: 0.15rem 1.5rem;
}

.actions .toggle:hover {
  background-color: transparent;
  color: #ae82cc;
}

.flex {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 0;
  align-items: center;
}

.spacebetween {
  justify-content: space-between;
}

.center {
  justify-content: center;
}

.formborder {
  border: 1px solid white;
  max-width: 45rem;
  margin: 1rem auto;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
}

.popup {
  position: absolute;
  z-index: 1;
  margin: auto;
  border-radius: 6px;
  border: 1px solid #38015c;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  top: 2rem;
  left: 50%;
  transform: translate(-50%, 0);
}

.popup button {
  width: 100%;
  height: 100%;
}

.textcenter {
  text-align: center;
}
